openapi: 3.0.0
info:
  title: Dimplex Controller API
  version: 1.0.0
  description: |
    API for controlling Dimplex heating devices via the GDHV IoT platform.

    Request/response shapes and enum values are cross-referenced against the
    decompiled official **Dimplex Control** Android app (APK 2.26.0,
    .NET MAUI). See `docs/decompiled-api-reference.md` for provenance and for
    which behaviours are additionally validated on live hardware.

    Endpoints marked **untested** are confirmed present in the app but have
    not been exercised against real hardware.

servers:
  - url: https://mobileapi.gdhv-iot.com/api
    description: Main Mobile API

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  requestBodies:
    ApplianceModeRequest:
      required: true
      description: |
        `SetApplianceModeRequest` — the shared body of every `SetApplianceMode*`
        endpoint.
      content:
        application/json:
          schema:
            type: object
            properties:
              Settings:
                $ref: "#/components/schemas/ApplianceModeSettings"
              HubId:
                type: string
              ApplianceIds:
                type: array
                items:
                  type: string

  schemas:
    Hub:
      type: object
      properties:
        HubId:
          type: string
        Name:
          type: string
        FriendlyName:
          type: string

    Zone:
      type: object
      properties:
        ZoneId:
          type: string
        ZoneName:
          type: string
        HubId:
          type: string
        ZoneType:
          type: string
        Appliances:
          type: array
          items:
            $ref: "#/components/schemas/Appliance"

    Appliance:
      type: object
      properties:
        ApplianceId:
          type: string
        ApplianceType:
          type: string
        ApplianceModel:
          type: string
        ZoneId:
          type: string
        FriendlyName:
          type: string
        InstallationDate:
          type: string
          format: date-time

    TimerPeriod:
      type: object
      properties:
        DayOfWeek:
          type: integer
        StartTime:
          type: string
          format: time
          example: "06:00:00"
        EndTime:
          type: string
          format: time
          example: "12:00:00"
        Temperature:
          type: number

    TimerModeSettings:
      type: object
      properties:
        HubId:
          type: string
        ApplianceId:
          type: string
        TimerMode:
          type: integer
        TimerPeriods:
          type: array
          items:
            $ref: "#/components/schemas/TimerPeriod"

    ApplianceStatus:
      type: object
      properties:
        HubId:
          type: string
        ApplianceId:
          type: string
        ZoneId:
          type: string
        StatusTwo:
          type: integer
        ApplianceModes:
          $ref: "#/components/schemas/EApplianceModes"
        RoomTemperature:
          type: number
        ActiveSetPointTemperature:
          type: number
          description: |
            Currently applied setpoint in °C, or `255` (0xFF) when there is no
            explicit setpoint and the appliance is following its schedule.
            Clients must filter 255 rather than presenting it as a temperature.
        NormalTemperature:
          type: number
        AwayDateTime:
          type: string
          format: date-time
        AwayTemperature:
          type: number
        BoostDuration:
          type: integer
        BoostTemperature:
          type: number
        OpenWindowEnabled:
          type: boolean
        EcoStartEnabled:
          type: boolean
        SetbackEnabled:
          type: boolean
        SetbackEnabledInStatusFrame:
          type: boolean
        SetbackTemperature:
          type: number
        ComfortStatus:
          type: boolean
        AvailableHotWater:
          type: number
        LockStatus:
          type: integer
        ErrorCode:
          type: string
        WarningCode:
          type: string

    ApplianceModeSettings:
      type: object
      description: |
        Body of every `SetApplianceMode*` call. Only the fields relevant to the
        targeted mode are populated by the app.
      properties:
        ApplianceModes:
          $ref: "#/components/schemas/EApplianceModes"
        Status:
          type: integer
          description: |
            `ApplianceModeStatus` — 1 engages the targeted mode, 0 clears it.
          enum: [0, 1]
        Temperature:
          type: integer
          description: |
            Target temperature in °C. The wire type is a **short**, so only whole
            degrees are representable. The app's pickers offer 7–30 °C for Away,
            Boost, Frost, Manual and Eco.

            Special values: `7` is the fixed frost-protection floor; `255`
            (0xFF) means "no explicit setpoint — follow the schedule" and is what
            the app sends as the Advance temperature for Quantum / Storage
            Heater models with no setback.
          minimum: 0
          maximum: 255
        Time:
          type: integer
          description: Boost duration in minutes.
        Date:
          type: string
          format: date-time
          description: |
            Away "away until" datetime. This is how the app expresses Away
            duration; `NumberOfDays` is not used for heating appliances.
            Unset is the .NET default `0001-01-01T00:00:00`.
        StatusTwo:
          type: integer
          description: "`EStatusTwo` — 0 = UserTimer, 1 = HomeAllDay, 2 = OutAllDay."
          enum: [0, 1, 2]
        NumberOfDays:
          type: integer
          description: Legacy duration field; prefer `Date`.
        Frequency:
          type: integer
          description: |
            `EFrequency` — hot-water hygiene (anti-legionella) cycle:
            0 = Off, 1 = Daily, 7 = Weekly, 28 = Monthly.
          enum: [0, 1, 7, 28]

    EApplianceModes:
      type: integer
      description: |
        `[Flags] EApplianceModes` bitfield, as decompiled from APK 2.26.0. Used
        both in `ApplianceStatus.ApplianceModes` (which modes are engaged) and in
        `ApplianceModeSettings.ApplianceModes` (which mode a write targets).

        | Bit | Value | Name |
        | --- | --- | --- |
        | 0x01 | 1 | TimerMode |
        | 0x02 | 2 | **Boost** |
        | 0x04 | 4 | **Away** |
        | 0x08 | 8 | Holiday |
        | 0x10 | 16 | Advance |
        | 0x20 | 32 | FrostProtect |
        | 0x40 | 64 | Eco |
        | 0x80 | 128 | Manual |
        | 0x100 | 256 | Hygiene |
        | 0x200 | 512 | Standalone |
        | 0x400 | 1024 | SafeMode |
        | 0x800 | 2048 | Shutdown |
        | 0x1000 | 4096 | Comms |
        | 0x2000 | 8192 | Normal |
        | 0x4000 | 16384 | Standby |

        Note that Boost is **2** and Away is **4**; 16 and 32 are Advance and
        FrostProtect respectively. Sending 16/32 for boost/away commands the
        wrong mode and silently discards the requested temperature/duration.
      example: 3

    TsiEnergyReport:
      type: object
      properties:
        HubId:
          type: string
        ApplianceTelemetryData:
          type: object
          additionalProperties:
            type: array
            items:
              type: object
              description: A single telemetry point. Shape varies by firmware; clients should treat as opaque and normalise.

    UserContext:
      type: object
      properties:
        Id:
          type: string
        EmailAddress:
          type: string
        Name:
          type: string

security:
  - BearerAuth: []

paths:
  /Hubs/GetUserHubs:
    get:
      summary: Get user's hubs
      responses:
        "200":
          description: List of hubs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Hub"

  /Zones/GetZonesAndAppliancesForHubId:
    get:
      summary: Get zones and appliances for a specific hub
      parameters:
        - name: HubId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of zones with appliances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Zone"

  /Zones/GetZone:
    post:
      summary: Get details for a specific zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ZoneId:
                  type: string
      responses:
        "200":
          description: Zone details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zone"

  /RemoteControl/GetApplianceOverview:
    post:
      summary: Get status overview for specific appliances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Appliance overview
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApplianceStatus"

  /RemoteControl/GetTimerModeDetailsForAppliance:
    post:
      summary: Get timer settings for an appliance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ApplianceId:
                  type: string
                TimerMode:
                  type: integer
      responses:
        "200":
          description: Timer details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerModeSettings"

  /RemoteControl/SetTimerMode:
    post:
      summary: Edit an appliance's schedule periods
      description: |
        This is the **schedule editor**: it writes `TimerMode` plus the full set
        of `TimerPeriods`.

        It is *not* the way to change mode or setpoint. Quantum rejects such use
        with **HTTP 403**. Use `/RemoteControl/SetApplianceSetpointTemperature`
        for a target temperature and `/RemoteControl/SetApplianceMode`
        (FrostProtect) to turn an appliance off.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TimerModeSettings:
                  $ref: "#/components/schemas/TimerModeSettings"
      responses:
        "200":
          description: Success
        "403":
          description: |
            Returned by Quantum / Storage Heater models when this endpoint is
            used to change mode or setpoint rather than to edit periods.

  /RemoteControl/CopyScheduleToAppliances:
    post:
      summary: Copy one appliance's schedule onto other appliances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                FromApplianceId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
                TimerMode:
                  type: integer
      responses:
        "200":
          description: Success

  /RemoteControl/SetApplianceMode:
    post:
      summary: Engage or clear an appliance mode (Boost, Away, Advance, FrostProtect, …)
      description: |
        Single write that targets one `EApplianceModes` bit. `Settings.Status`
        engages (1) or clears (0) it.

        Per-mode field usage as built by the app for heating appliances:

        | Action | ApplianceModes | Status | Other fields |
        | --- | --- | --- | --- |
        | Boost on | 2 | 1 | `Time` = minutes, `Temperature` |
        | Boost off | 2 | 0 | — |
        | Away on | 4 | 1 | `Temperature` (7–30, defaults 7), `Date` = away-until |
        | Away off | 4 | 0 | — |
        | Advance | 16 | 1 / 0 | `Temperature` = current/next period, or `255` on Quantum / Storage Heater |
        | Off (frost) | 32 | 1 | `Temperature` = 7 |
        | Manual | 128 | 1 | `Temperature` |
        | Eco | 64 | 1 | `Temperature` |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Settings:
                  $ref: "#/components/schemas/ApplianceModeSettings"
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Success

  /RemoteControl/SetApplianceSetpointTemperature:
    post:
      summary: Set the active setpoint (non-destructive)
      description: |
        The dedicated setpoint endpoint the app uses. Applies a target
        immediately and leaves the stored schedule periods untouched — unlike
        `SetTimerMode`, which rewrites them and returns 403 on Quantum.

        Validated live on a Quantum QM100RF: returns 200 with the schedule
        unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
                Temperature:
                  type: integer
                  description: Target °C. Wire type is a byte, so whole degrees only.
                  minimum: 0
                  maximum: 255
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: boolean

  /RemoteControl/SetSetbackTemperature:
    post:
      summary: Write the setback temperature (untested)
      description: |
        Confirmed present in APK 2.26.0; not yet validated on live hardware.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
                Status:
                  type: integer
                  description: |
                    `EStatus` — 0 = Inactive, 1 = Active, 2 = DSMMode,
                    3 = LocalFrequencyControlActive.
                  enum: [0, 1, 2, 3]
                Temperature:
                  type: integer
                  minimum: 0
                  maximum: 255
      responses:
        "200":
          description: Success

  /RemoteControl/SetEcoStart:
    post:
      summary: Enable/Disable EcoStart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Enable:
                  type: boolean
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Success

  /RemoteControl/SetOpenWindowDetection:
    post:
      summary: Enable/Disable Open Window Detection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Enable:
                  type: boolean
                HubId:
                  type: string
                ApplianceIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Success

  # ---------------------------------------------------------------------------
  # Hot-water cylinders (`WaterHeater`) and heat-pump cylinders
  # (`ASHW Cylinder`). All confirmed present in APK 2.26.0 but **untested** —
  # no cylinder hardware available. All mode writes reuse ApplianceModeSettings.
  # ---------------------------------------------------------------------------

  /RemoteControl/SetApplianceModeHwc:
    post:
      summary: Set a hot-water cylinder mode (untested)
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/SetBoostTemperatureHwc:
    post:
      summary: Set a cylinder's Boost temperature (untested)
      description: Sends `ApplianceModes` = Boost (2) with `Temperature`.
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/SetNormalTemperatureHwc:
    post:
      summary: Set a cylinder's Normal temperature (untested)
      description: Sends `ApplianceModes` = Normal (8192) with `Temperature`.
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/SetHygieneSettingsHwc:
    post:
      summary: Configure a cylinder's anti-legionella cycle (untested)
      description: |
        Sends `ApplianceModes` = Hygiene (256) with `Temperature` and
        `Frequency` (`EFrequency`).
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/SetApplianceModeHeatPumpHwc:
    post:
      summary: Set an ASHW (heat-pump) cylinder mode (untested)
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/SetHygieneSettingsHeatPumpHwc:
    post:
      summary: Configure an ASHW cylinder's anti-legionella cycle (untested)
      requestBody:
        $ref: "#/components/requestBodies/ApplianceModeRequest"
      responses:
        "200":
          description: Success

  /RemoteControl/ApiGetTimerModeDetailsForHeatPumpHwcAppliance:
    post:
      summary: Read an ASHW cylinder's schedule (untested)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                HubId:
                  type: string
                ApplianceId:
                  type: string
      responses:
        "200":
          description: Timer details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimerModeSettings"

  /RemoteControl/UpdateHeatPumpHwcSchedulePeriods:
    post:
      summary: Write an ASHW cylinder's schedule periods (untested)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TimerModeSettings:
                  $ref: "#/components/schemas/TimerModeSettings"
      responses:
        "200":
          description: Success

  /Identity/GetUserContext:
    get:
      summary: Get user profile/context
      responses:
        "200":
          description: User properties
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserContext"

  /Reports/GetTsiEnergyReportDataForHub:
    post:
      summary: Get Time Series Insights energy report for a hub
      description: |
        Returns telemetry points (kWh energy) for every appliance on a hub.
        The per-appliance list is empty when the hub has no metered appliances
        or when the heaters are not running. The shape of each telemetry point
        is not documented and varies by firmware — clients should normalise
        via `dimplex_controller.telemetry.parse_telemetry_points`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [TsiReportType, Interval, StartDate, EndDate, IncludePreviousPeriod]
              properties:
                HubId:
                  type: string
                  description: Hub identifier. Recommended; some deployments require it.
                TsiReportType:
                  type: integer
                  description: |
                    Report variant. Observed values: 1 (kWh energy). Other
                    values are accepted by the server but their meaning is
                    not yet documented.
                Interval:
                  type: string
                  description: ISO-8601 duration (e.g. `00:10:00`, `01:00:00`, `1.00:00:00`).
                StartDate:
                  type: string
                  format: date-time
                EndDate:
                  type: string
                  format: date-time
                  description: End of the requested window (inclusive). Required by live API.
                IncludePreviousPeriod:
                  type: boolean
                  description: |
                    When true, the cloud often returns the full available daily
                    history (not only StartDate→EndDate). When false and heaters
                    are idle, lists may be empty. Clients should filter for
                    daily/lifetime totals.
      responses:
        "200":
          description: Telemetry data per appliance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TsiEnergyReport"

  /Appliances/GetProductModels:
    get:
      summary: List product models in the catalogue
      responses:
        "200":
          description: Product model list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
